--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Here is a bunch of stuff about me ! (and my anime addiction)">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/410/410192.png" />
		<meta name="twitter:image" content="https://www.letribunaldunet.fr/wp-content/uploads/2014/10/pringles.gif">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PY1TX5CQGJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PY1TX5CQGJ');
</script>

	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
  	--accent: 136, 58, 234; /* Pink color values */
  	--accent-light: 224, 204, 250;
  	--accent-dark: 49, 10, 101;
  	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  	--accent2: 255, 105, 180; /* Pink color values */
	--accent-light2: 224, 204, 250;
	--accent-dark2: 49, 10, 101;
	--accent-gradient2: linear-gradient(45deg, rgb(var(--accent2)), rgb(var(--accent-light2)) 30%, white 60%);
	--accent3: 255, 100, 100; /* Lighter red color values */
	--accent-light3: 255, 150, 150; /* Lighter red color values */
	--accent-dark3: 128, 0, 0; /* Darker red color values */
	--accent-gradient3: linear-gradient(45deg, rgb(var(--accent3)), rgb(var(--accent-light3)) 30%, white 60%);
}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>